/* vars */

:root {
  --fg: #000000;
  --fg-sub: #aaaaaa;
  --bg: #ffffff;
  --bg-sub: #eaeaea;
}

/* global */

body {
  font-feature-settings: "liga";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  background-color: var(--bg);
  height: 100%;
  color: var(--fg);
  font-family: "IBM Plex Sans";
}
@media screen and (max-width: 60rem) {
  body {
    font-size: 14px;
  }
}

figcaption {
  margin: 0.25rem 0 0;
  color: var(--fg-sub);
}

a {
  color: inherit;
  text-decoration: none;
}

figure {
  position: relative;
  margin: 0;
  overflow: hidden;
  line-height: 0;
}

button {
  outline: inherit;
  border: none;
  background: none;
  padding: 0;
  color: inherit;
  font: inherit;
}

.noscript {
  display: none;
}

/* index page */

#site-title {
  margin: 0;
  font-weight: 400;
  font-size: 1em;
}

.index-layout {
  margin: 0 auto;
  padding: 1rem 8vw 5rem !important;
  max-width: 120rem;
}
@media screen and (max-width: 60rem) {
  .index-layout {
    padding: 1rem clamp(1rem, 4vw, 4rem) 5rem !important;
  }
}

.index-header {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}

#viewmode-toggler {
  color: var(--fg-sub);
  text-align: inherit;
  text-transform: capitalize;
}
@media screen and (hover: hover) {
  #viewmode-toggler:hover {
    color: inherit;
  }
}
#viewmode-toggler:active {
  color: var(--fg-sub);
}

#info {
  margin: 2rem 0 5rem 0;
  max-width: 50rem;
}

p.bio {
  font-size: 1.25em;
}

.pill {
  border-radius: 0.2rem;
  background: var(--bg-sub);
  padding: 0.3rem 0.4rem;
  line-height: 1em;
}

div.pills {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1ch;
}

.overflow-wrapper {
  position: relative;
  overflow: hidden;
  line-height: 0;
}

img.placeholder {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  filter: blur(0);
  transition: all 1s ease;
  width: 100%;
}

img.placeholder.placeholder-unloaded {
  transform: scale(1.5);
  opacity: 1;
  filter: blur(16px);
}

img.thumb.thumb-unloaded {
  visibility: hidden;
}

.thumbs-grid {
  /* max-width: 60rem; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: end;
  gap: max(0.2rem, 1.5vw); /* 12.5rem */
}

.thumbs-grid figcaption {
  display: none;
}

.thumbs-grid img.thumb {
  aspect-ratio: 1;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.thumbs-grid img.placeholder {
  aspect-ratio: 1;
}

.thumbs-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: end;
  gap: 8rem clamp(1rem, 4vw, 3rem);
}
@media screen and (max-width: 72rem) {
  .thumbs-gallery {
    grid-template-columns: 1fr 1fr;
    row-gap: 6rem;
  }
}
@media screen and (max-width: 40rem) {
  .thumbs-gallery {
    grid-template-columns: 1fr;
    row-gap: 4rem;
  }
}

.thumbs-gallery figure {
  line-height: inherit;
}

.thumbs-gallery img.thumb {
  width: 100%;
  height: auto;
}

.thumbs-gallery img.placeholder {
}

/* image page */

.image-layout {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  justify-items: center;
}
@media screen and (max-width: 60rem) {
  .image-layout {
    display: flex;
    flex-direction: column-reverse;
    align-items: start;
    height: auto;
  }
}

.image-layout > .image-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: end;
  box-sizing: border-box;
  padding: 2rem;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 60rem) {
  .image-layout > .image-sidebar {
    padding: 1rem;
  }
}

.image-layout > .image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: auto;
  padding: 2rem;
  width: 100%;
  height: 100vh;
  height: 100svh;
}
@media screen and (max-width: 60rem) {
  .image-layout > .image-wrapper {
    padding: 3.5rem 1rem 2.5rem;
    width: auto;
  }
}

.image-meta {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.exposure-settings {
  display: flex;
  flex-direction: row;
  gap: 1ch;
}

.back {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  gap: 1ch;
  margin: 2rem;
  color: var(--fg-sub);
}
@media screen and (max-width: 60rem) {
  .back {
    margin: 1rem;
  }
}
@media screen and (hover: hover) {
  .back:hover {
    color: inherit;
  }
}
.back:active {
  color: var(--fg-sub);
}

.backlogo {
  transform: scaleY(-100%);
  font-size: 1.5em;
}

img.full {
  width: auto;
  max-width: 100%;
  height: auto;
  height: 100%;
  max-height: 100%;
  object-fit: contain;
}

#panchro-post {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 30rem;
}

input {
  outline: none;
  border: none;
  font-size: 1em;
}

input::file-selector-button {
  outline: none;
  border: none;
  background-color: var(--bg-sub);
  padding: 1rem;
  font-size: 1em;
}

input#panchro-token {
  border: 1px solid;
  border-color: var(--bg-sub);
  padding: 1rem;
}

button#panchro-submit {
  background-color: var(--bg-sub);
  padding: 1rem;
}
