/* vars */

:root {
  --fg: #000000;
  --fg-sub: #aaaaaa;
  --bg: #ffffff;
  --bg-sub: #f5f5f5;
  --bg-subsub: #e2e2e2;

  --bg-error: #feedee;
  --fg-error: #3f0308;

  --fg-success: #0a2003;
  --bg-success: #e0feda;
}

/* global */

body {
  font-feature-settings: "liga";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  background-color: var(--bg);
  height: 100%;
  color: var(--fg);
  font-family: "IBM Plex Sans", system-ui, -apple-system, "Helvetica Neue",
    sans-serif;
  font-synthesis: none;
}
@media screen and (max-width: 60rem) {
  body {
    font-size: 14px;
  }
}

figcaption {
  margin: 0.25rem 0 0;
  color: var(--fg-sub);
}

a {
  color: inherit;
  text-decoration: none;
}

figure {
  position: relative;
  margin: 0;
  overflow: hidden;
  line-height: 0;
}

button {
  outline: inherit;
  border: none;
  background: none;
  padding: 0;
  color: inherit;
  font: inherit;
}

.noscript {
  display: none;
}

p {
  margin: 0;
}

* {
  box-sizing: border-box;
}

/* index page */

#site-title {
  margin: 0;
  font-weight: 400;
  font-size: 1em;
}

.index-layout {
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 clamp(1rem, 4vw, 4rem) 5rem;
  max-width: 120rem;
}

.index-header {
  /* background: var(--bg-sub); */
  border-bottom: 1px solid;
  border-color: var(--bg-sub);
  padding: 1rem 0;
  padding: 1rem clamp(1rem, 4vw, 4rem);
  width: 100%;
}

.index-header-content {
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 120rem;
}

#viewmode-toggler {
  color: var(--fg-sub);
  text-align: inherit;
  text-transform: capitalize;
}
@media screen and (hover: hover) {
  #viewmode-toggler:hover {
    color: inherit;
  }
}
#viewmode-toggler:active {
  color: var(--fg-sub);
}

#info {
  margin: 4rem 0;
}

p.bio {
  margin: 1rem 0;
  max-width: 60ch;
  font-size: 1.25em;
  line-height: 1.5;
}

.pill {
  border-radius: 0.2rem;
  background: var(--bg-sub);
  padding: 0.3rem 0.4rem;
  line-height: 1em;
}

div.pills {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1ch;
}

.overflow-wrapper {
  position: relative;
  overflow: hidden;
  line-height: 0;
}

img.placeholder {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  filter: blur(0);
  transition: all 1s ease;
  width: 100%;
  pointer-events: none;
}

img.placeholder.placeholder-unloaded {
  transform: scale(1.5);
  opacity: 1;
  filter: blur(16px);
}

img.thumb.thumb-unloaded {
  visibility: hidden;
}

.thumbs-grid {
  --cols-min: 3;
  --cols-max: 5;
  --gap: min(1rem, 1vw);
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(
      min(
        (100% - var(--cols-min) * var(--gap)) / var(--cols-min),
        max(300px, (100% - var(--cols-max) * var(--gap)) / var(--cols-max))
      ),
      1fr
    )
  );
  align-items: end;
  gap: var(--gap);
}
@media screen and (max-width: 40rem) {
  .thumbs-grid {
    gap: 2px;
    margin: 0 calc(-1rem + 2px);
  }
}

.thumbs-grid figcaption {
  display: none;
}

.thumbs-grid img.thumb {
  aspect-ratio: 1;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.thumbs-grid img.placeholder {
  aspect-ratio: 1;
}

.thumbs-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: end;
  gap: 8rem clamp(1rem, 4vw, 3rem);
}
@media screen and (max-width: 72rem) {
  .thumbs-gallery {
    grid-template-columns: 1fr 1fr;
    row-gap: 6rem;
  }
}
@media screen and (max-width: 40rem) {
  .thumbs-gallery {
    grid-template-columns: 1fr;
    row-gap: 4rem;
  }
}

.thumbs-gallery figure {
  line-height: inherit;
}

.thumbs-gallery img.thumb {
  width: 100%;
  height: auto;
}

.thumbs-gallery img.placeholder {
}

/* image page */

.image-layout {
  display: grid;
  grid-template-columns: 30ch 1fr;
  align-items: center;
  justify-items: center;
}
@media screen and (max-width: 60rem) {
  .image-layout {
    display: flex;
    flex-direction: column-reverse;
    align-items: start;
    height: auto;
  }
}

.image-layout > .image-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: end;
  box-sizing: border-box;
  /* background: var(--bg-sub); */
  padding: 1rem;
  width: 100%;
  height: 100%;
  font-size: 0.9em;
}
@media screen and (max-width: 60rem) {
  .image-layout > .image-sidebar {
    padding: 1rem;
  }
}

.image-layout > .image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: auto;
  padding: 1rem;
  width: 100%;
  height: 100vh;
  height: 100svh;
}
@media screen and (max-width: 60rem) {
  .image-layout > .image-wrapper {
    padding: 3.5rem 1rem 2.5rem;
    width: auto;
  }
}

.image-meta {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.image-meta-exif {
  display: flex;
  flex-direction: column;
  margin: auto;
  /* gap: 1px; */
  /* background: var(--bg-sub);
  padding: 0.5rem;
  border-radius: 0.5rem; */
  width: 100%;
}

.exif-makemodel {
  border-radius: 0.5rem;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background: var(--bg-sub);
  padding: 0.5rem;
}

.exif-lens {
  border-right: 1px solid var(--bg-sub);
  border-left: 1px solid var(--bg-sub);
  padding: 0.5rem;
}

.exif-exposure {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid var(--bg-sub);
  border-radius: 0.5rem;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  padding: 0.5rem;
  font-size: 0.9em;
}
.exif-exposure > .separator {
  border-right: 1px solid var(--bg-subsub);
}

.footlink {
  margin: 1rem 0 0;
  color: var(--fg-sub);
}

.back {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  gap: 1ch;
  margin: 1rem;
  color: var(--fg-sub);
}
@media screen and (max-width: 60rem) {
  .back {
    margin: 1rem;
  }
}
@media screen and (hover: hover) {
  .back:hover {
    color: inherit;
  }
}
.back:active {
  color: var(--fg-sub);
}

.backlogo {
  transform: scaleY(-100%);
  font-size: 1.5em;
}

img.full {
  width: auto;
  max-width: 100%;
  height: auto;
  height: 100%;
  max-height: 100%;
  object-fit: contain;
}

/* Form */

.forms {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: auto;
  max-width: 30rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input {
  outline: none;
  border: 1px solid;
  border-color: var(--bg-sub);
  font-size: 1em;
}

input::file-selector-button {
  outline: none;
  border: none;
  background-color: var(--bg-sub);
  padding: 1rem;
  font-size: 1em;
}

input[type="text"] {
  border: 1px solid;
  border-color: var(--bg-sub);
  padding: 1rem;
}

button#panchro-submit {
  background-color: var(--bg-sub);
  padding: 1rem;
}

.success {
  margin: 1rem 0;
  background: var(--bg-success);
  padding: 1rem;
  color: var(--fg-success);
}

.error {
  margin: 1rem 0;
  background: var(--bg-error);
  padding: 1rem;
  color: var(--fg-error);
}
