{{ define "thumb_img" }}
  <img
    class="thumb thumb-unloaded"
    src="{{ RootResolver .Photo.URL }}"
    alt="{{ .Photo.ID }}"
    width="{{ .Photo.Width }}"
    height="{{ .Photo.Height }}"
    loading="{{- if gt .Index 12 -}}
      lazy
    {{- else -}}
      eager
    {{- end -}}"
  />
{{ end }}

{{ define "thumb" }}
  <a href="{{ RootResolver .Photo.ID }}">
    <figure>
      <noscript>
        {{ template "thumb_img" . }}
        <style>
          .overflow-wrapper {
            display: none;
          }
          img.thumb.thumb-unloaded {
            visibility: visible;
          }
        </style>
      </noscript>
      <div class="overflow-wrapper">
        <img
          src="{{ .Photo.PlaceholderURI }}"
          class="placeholder placeholder-unloaded"
          alt="{{ RootResolver .Photo.URL }} placeholder"
        />
        {{ template "thumb_img" . }}
      </div>
      <figcaption>
        {{ if not .Photo.Exif.DateTime.IsZero }}
          <time datetime="{{ .Photo.Exif.DateTime }}"
            >{{ .Photo.Exif.DateTime.Format "Jan 2, 2006" }}</time
          >
        {{ else }}
          <br />
        {{ end }}
      </figcaption>
    </figure>
  </a>
{{ end }}
