{{ define "auth" }}
  <!DOCTYPE html>
  <html lang="en">
    {{ template "head" . }}
    <body>
      <div class="index-layout">
        <header class="index-header">
          <h1 id="site-title">
            <a href="/">
              {{ .Config.Title }}
            </a>
          </h1>
        </header>
        <div class="forms">
          <div>
            <h2>Log in</h2>
            <form method="POST" class="form">
              <input
                type="text"
                name="token"
                id="panchro-token"
                placeholder="Token"
              />
              <button id="panchro-submit">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </body>
  </html>
{{ end }}
