{{ define "auth" }}
  <!DOCTYPE html>
  <html lang="en">
    {{ template "head" . }}
    <body>
      <div class="index-layout">
        <header class="index-header">
          <h1 id="site-title">
            <a href="/">
              {{ .Config.Title }}
            </a>
          </h1>
        </header>
        <form method="POST" class="form">
          <h2>Log in</h2>
          <input
            type="text"
            name="token"
            id="panchro-token"
            placeholder="Token"
          />
          <button id="panchro-submit">Submit</button>
        </form>
      </div>
    </body>
  </html>
{{ end }}
