{{ define "index" }}
  <!DOCTYPE html>
  <html lang="en">
    {{ template "head" . }}
    <body>
      <script
        src="{{ RootResolver .Config.StaticDir `index.js` }}"
        defer
      ></script>
      <header class="index-header">
        <div class="index-header-content">
          <h1 id="site-title">
            <a href="{{ RootResolver `/` }}">
              {{ .Config.Title }}
            </a>
          </h1>
          <button id="viewmode-toggler" class="noscript">
            {{- .Config.DefaultViewMode -}}
          </button>
        </div>
      </header>
      <div class="index-layout">
        <div id="info">
          {{ if .Config.ThemeConfig.bio }}
            <p class="bio">
              {{ RenderNewline .Config.ThemeConfig.bio }}
            </p>
            <div class="pills">
              <span> {{ .Photos.Len }} photos </span>
              {{ if .Config.ThemeConfig.links }}
                <span>·</span>
                {{ range $link := .Config.ThemeConfig.links }}
                  <a href="{{ $link.href }}" class="pill">{{ $link.name }}↗</a>
                {{ end }}
              {{ end }}
            </div>
          {{ end }}
        </div>
        <div
          id="thumbs"
          class="{{- if eq .Config.DefaultViewMode `gallery` -}}
            thumbs-gallery
          {{- else -}}
            thumbs-grid
          {{- end -}}"
        >
          {{ range $i, $id := .Photos.IDs }}
            {{ $img := $.Photos.Get $id }}
            {{ $idxp := IndexPhoto $img $i }}
            {{ template "thumb" $idxp }}
          {{ end }}
        </div>
      </div>
    </body>
  </html>
{{ end }}
