{{ define "panchro" }}
  <!DOCTYPE html>
  <html lang="en">
    {{ template "head" . }}
    <body>
      <div class="index-layout">
        <header class="index-header">
          <h1 id="site-title">
            <a href="{{ RootResolver `/` }}">
              {{ .Config.Title }}
            </a>
          </h1>
        </header>
        <div class="forms">
          <noscript class="error"> This page requires JavaScript </noscript>
          <div>
            <h2>Upload</h2>
            <div id="upload-status"></div>
            <form
              id="upload"
              action="{{ RootResolver `/photos` }}"
              method="post"
              enctype="multipart/form-data"
              class="form"
            >
              <input type="file" name="file" id="file" accept="image/*" />
              <input
                type="text"
                name="token"
                id="panchro-token"
                placeholder="Token"
              />
              <button id="panchro-submit">Submit</button>
            </form>
          </div>
          <div>
            <h2>Delete</h2>
            <div id="delete-status"></div>
            <form
              id="delete"
              action="{{ RootResolver `/photos` }}"
              method="delete"
              class="form"
            >
              <input type="text" name="id" placeholder="ID" list="id-data" />
              <datalist id="id-data">
                {{ range $i, $id := .Photos.IDs }}
                  <option value="{{ $id }}">{{ $id }}</option>
                {{ end }}
              </datalist>
              <input type="text" name="token" placeholder="Token" />
              <button id="panchro-submit">Delete</button>
            </form>
          </div>
        </div>
      </div>
      <script src="{{ RootResolver .Config.StaticDir `panchro.js` }}"></script>
    </body>
  </html>
{{ end }}
