{{ define "photo" }}
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="utf-8" />
      <link rel="icon" type="image/svg+xml" href="/example/favicon.svg" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="{{ RootResolver `index.css` }}" />
      <title>{{ .Config.Title }}</title>
    <style>
      @font-face {
        font-style: normal;
        font-weight: 400;
        src: url("{{RootResolver `/fonts/IBMPlexSans-400-normal.woff2`}}")
          format("woff2");
        font-family: "IBM Plex Sans";
        font-display: block;
      }
      @font-face {
        font-style: italic;
        font-weight: 400;
        src: url("{{RootResolver `/fonts/IBMPlexSans-400-italic.woff2`}}")
          format("woff2");
        font-family: "IBM Plex Sans";
        font-display: block;
      }
    </style>
    </head>
    <body>
      <div class="backlogo">
        <a href="{{ RootResolver `/` }}"> ↩ </a>
      </div>
      <div class="image-layout">
        <div class="image-sidebar">
          <div class="image-meta">
            <span>{{ .Photo.Exif.MakeModel }}</span>
            <div class="exposure-settings">
              <span>{{ .Photo.Exif.FNumber }}</span>
              <span>{{ .Photo.Exif.ShutterSpeed }}</span>
              <span>{{ .Photo.Exif.ISO }}</span>
            </div>
            {{ if not .Photo.Exif.DateTime.IsZero }}
              <time datetime="{{ .Photo.Exif.DateTime }}"
                >{{ .Photo.Exif.DateTime.Format "Jan 2, 2006" }}</time
              >
            {{ end }}
          </div>
        </div>
        <div class="image-wrapper">
          <img
            class="full"
            width="{{ .Photo.Width }}"
            height="{{ .Photo.Height }}"
            src="{{ RootResolver .Photo.Path }}"
            alt=""
          />
        </div>
      </div>
    </body>
  </html>
{{ end }}
