{{ define "photo" }}
  <!DOCTYPE html>
  <html lang="en">
    {{ template "head" . }}
    <body>
      <div class="backlogo">
        <a href="{{ RootResolver `/` }}"> ↩ </a>
      </div>
      <div class="image-layout">
        <div class="image-sidebar">
          <div class="image-meta">
            <span>{{ .Photo.Exif.MakeModel }}</span>
            <div class="exposure-settings">
              <span>{{ .Photo.Exif.FNumber }}</span>
              <span>{{ .Photo.Exif.ShutterSpeed }}</span>
              <span>{{ .Photo.Exif.ISO }}</span>
            </div>
            {{ if not .Photo.Exif.DateTime.IsZero }}
              <time datetime="{{ .Photo.Exif.DateTime }}"
                >{{ .Photo.Exif.DateTime.Format "Jan 2, 2006" }}</time
              >
            {{ end }}
          </div>
        </div>
        <div class="image-wrapper">
          <img
            class="full"
            width="{{ .Photo.Width }}"
            height="{{ .Photo.Height }}"
            src="{{ RootResolver .Photo.URL }}"
            alt=""
          />
        </div>
      </div>
    </body>
  </html>
{{ end }}
